body,
* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

/* Section -2 */
.gmat-sec-2 {
    background: linear-gradient(146deg,
            #e1cbff 0%,
            rgba(150, 111, 204, 0.13) 50.28%,
            rgba(76, 20, 154, 0.02) 100%);
}

.gmat-sec-2 .head-h1 {
    text-align: start;
}

.head-h1 {
    text-align: center;
    font-weight: 500;
    font-size: 2.4vw;
    margin: 0px;
    padding: 1em 0px;
    color: #3e3e4c;
    line-height: 4vw;
}

.gre-purple-color {
    color: #420d8c;
    font-weight: 700;
}

.sec-2-split {
    display: flex;
}

.sec-2-width {
    width: 85vw;
    margin: auto;
}

.sec-2-col-1 {
    width: 38%;
    display: flex;
    align-items: center;
}

.sec-2-col-2 {
    width: 62%;
    margin-left: 6vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
}

.sec-2-inner {
    border-radius: 21px;
    background: #f9f9f9;
    box-shadow: 5px 13px 44px 0px rgba(0, 0, 0, 0.21);
    padding: 2vw 4vw 3.5vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.sec-2-inner-1 h3,
.sec-2-inner-1 h2 {
    margin: 0px;
    font-weight: 600;
}

.sec-2-inner-split {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}

.sec-2-inner-1 h3 {
    font-size: 1.5vw;
}

.sec-2-inner-split h2 {
    font-size: 1.9vw;
}

.score-number {
    color: #d74646;
}

.bar {
    -webkit-appearance: none;
    margin-top: 1.2vw;
    width: 100%;
    border-radius: 1em;
    border: 0.1vw solid #7b54b0;
    height: 1.2vw;
    box-shadow: 0px 0.3vw 0.1vw #2d0f57;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 100%;
    width: 2.4vw;
    height: 2.5vw;
    background-color: #fff;
    box-shadow: 0px 0vw 1vw #2d0f577a;
    border: 0.2vw solid #7040b1;
    cursor: pointer;
}

.sec-2-inner-flex {
    display: flex;
    align-items: baseline;
}

.sec-2-inner-flex span {
    font-size: 1vw;
    margin-left: 0.5vw;
}

/* Carousel */
.gmat-carousel-first {
    border-radius: 20px;
    border: 0.5px solid #9b9b9b;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.29);
    width: 16vw;
    padding: 1vw 2vw 2vw 2vw;
    text-align: center;
}

.gmat-carousel-flex {
    display: flex;
    align-items: center;
    color: #7f26c5;
    gap: 1vw;
    justify-content: center;
}

.gmat-carousel-flex h4 {
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
}

.gmat-carousel-flex h1 {
    margin: 0px;
    font-size: 2.6vw;
}

.gmat-carousel-inner h1 {
    margin: 0px;
    margin-top: 1vw;
    font-size: 1.7vw;
}

.gmat-carousel-inner p {
    margin: 0px;
    margin-top: 1vw;
    font-size: 1vw;
}

.gmat-carousel-inner {
    gap: 1vw;
}

/* section-6 */
.gmat-sec-6 {
    background: linear-gradient(to bottom left,
            #e1cbff6b 0%,
            #fff,
            #e1cbff6b 100%);
    padding-bottom: 4vw;
}

.gmat-background-color {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 132vw;
    background-image: url("./Assets/background-image.svg");
}

.gmat-sec-6-card-1,
.gmat-sec-6-card-2 {
    background-color: #fff;
    padding: 2vw 0.5vw 2vw;
    width: max-content;
    text-align: center;
    border-radius: 18.2px;
    box-shadow: 0px 7.5px 33px 0px rgba(0, 0, 0, 0.07);
}

.gmat-sec-6-width {
    width: 70vw;
    margin: auto;
    padding-top: 3vw;
}

.gmat-sec-6-card-1 p,
.gmat-sec-6-card-2 p {
    font-weight: 600;
    font-size: 1vw;
    margin: 0px;
    margin-top: 2vw;
    line-height: 2vw;
    transition: 0.5s ease color;
}

.gmat-sec-6-innner-card-split {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    gap: 5vw;
    margin-top: 2vw;
}

.gmat-sec-6-card-1,
.gmat-sec-6-card-2 {
    position: relative;
    overflow: hidden;
    width: 16vw;
}

.gmat-sec-6-card-1::before {
    content: "";
    position: absolute;
    top: -100%;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #5b1cb8;
    opacity: 0;
    transition: opacity 0.4s ease, top 0.4s ease, right 0.4s ease;
}

.gmat-sec-6-card-2::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #5b1cb8;
    opacity: 0;
    transition: opacity 0.4s ease, top 0.4s ease, left 0.4s ease;
}

.gmat-sec-6-2 {
    position: relative;
    z-index: 99;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gmat-sec-7 {
    background-image: url("./Assets/back-vector.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* section-4 */
.section-4-gre {
    padding-top: 8vw;
}

.section-4-width {
    width: 90vw;
    margin: auto;
}

.head-h1 span img {
    width: 7vw;
    position: relative;
    top: 10px;
}

.section-4-width .section-gre-3-part .section-3-part-1 {
    width: 20vw;
    justify-content: center;
}

.section-4-width .section-gre-3-part .section-3-part-1 p {
    font-size: 1.2vw;
}

.section-3-col-1 {
    margin-bottom: 5vw;
}

.section-3-col-1 p {
    font-size: 1.4vw;
    margin: 0px;
    line-height: 2.8vw;
}

.section-3-col-1 .head-h1 {
    padding: 1em 0px 0.5em;
    text-align: left;
}

.section-3-col-1 p.section-3-inner-p {
    margin-top: 1em;
    font-weight: 600;
    font-size: 1.5vw;
}

.section-3-part-1 {
    display: flex;
    gap: 1vw;
    width: max-content;
    border: 1px solid;
    padding: 0.6vw 0.7vw;
    border-radius: 8px;
}

.section-3-part-1 p {
    font-weight: 600;
    font-size: 1.05vw;
}

.section-gre-3-part {
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
}

.one-two .section-3-part-1 {
    padding-right: 2vw;
}

.section-3-part-1 img {
    width: 3vw;
}

.section-3-col-2 {
    align-self: flex-end;
}

.section-3-col-2 img {
    width: 36vw;
}

.section-3-split {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

/* Google review */
.google {
    padding: 2em;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.13);
    width: 70%;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 4vw;
}

.google-split {
    display: flex;
    justify-content: space-around;
}

.google-col-1 {
    width: 35%;
}

#carousel-stop2 {
    width: 65%;
    background-image: url("./Assets/google-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.google-col-1,
.google-col-2 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.google-col-1 h1 {
    font-size: 4vw;
    color: #4285f4;
}

.google-col-1 h2 {
    font-size: 1.7vw;
    font-weight: 500;
}

.google-col-2 p {
    text-align: center;
    font-size: 1.1vw;
    white-space: normal;
    line-height: 2vw;
    width: 90%;
    margin: auto;
}

.google-col-2 h3 {
    font-size: 1.5vw;
    font-weight: 600;
}

.google-col-2 h1 {
    font-size: 2.8vw;
}

/* Carousel */
#carousel2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.item2 {
    width: 99%;
    /* Adjust this to match the width of the carousel container */
    height: 100%;
    display: inline-block;
}

#dot-container {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.mobile-block {
    display: none;
}

/* Section - 7 */

.gmat-sec-7-cols {
    background: url("./Assets/world-map.png");
    padding-bottom: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gmat-sec-7-cols img {
    filter: grayscale(100%);
}

.gmat-sec-7-cols img:hover {
    filter: grayscale(0%);
}

.gmat-profile-sec-7 .gmat-sec-7-container {
    width: 85%;
    margin: auto;
}

.gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-items: center;
    grid-row-gap: 2vw;
}

.gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols img {
    width: 10vw;
}

/* sectionn-8 */
.section-8-gre {
    background: linear-gradient(to bottom left,
            #e1cbff6b 0%,
            #fff,
            #e1cbff6b 100%);
    padding-bottom: 6vw;
    padding-top: 2vw;
}

.section-8-gre-width {
    width: 90%;
    margin: auto;
}

.section-8-width {
    width: 75%;
    margin: auto;
    background-color: #891049;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7vw;
    margin-bottom: 4rem;
}

.secction-8-split {
    width: 60%;
}

.section-8-absolute {
    position: relative;
    display: flex;
    gap: 2vw;
}

.section-8-width p {
    color: #fff;
    font-size: 1.5vw;
    font-weight: 600;
}

.section-8-width input {
    padding: 1vw 0vw 1vw 3.5vw;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.section-8-width input::placeholder {
    font-size: 1.05vw;
    font-weight: 500;
}

.section-8-absolute svg {
    position: absolute;
    left: 0.5vw;
    padding: 0.6vw;
}

.section-8-absolute button {
    background-color: #f07b3c;
    padding: 0.7vw 2.5vw;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.all-para p {
    margin: 0px;
}

.p-1 {
    font-size: 2.8vw;
    font-weight: 500;
    color: #936bc7;
}

.first {
    display: flex;
    gap: 1.8vw;
    align-items: baseline;
    justify-content: center;
}

.p-2 {
    color: #579060;
    position: relative;
    top: 1vw;
    font-weight: 600;
    font-size: 1.5vw;
}

.p-3 {
    color: #579060;
    font-size: 1.6vw;
    position: relative;
    top: -2vw;
    font-weight: 600;
}

.p-4 {
    font-size: 3.8vw;
    font-weight: 600;
    color: #da8e63;
}

.p-5 {
    font-size: 2.5vw;
    color: #6dcabf;
    position: relative;
    font-weight: 700;
}

.first-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -3.5vw;
    gap: 1vw;
}

.p-6 {
    font-weight: 700;
    color: #6dcabf;
    font-size: 1.5vw;
}

.p-7 {
    font-weight: 700;
    color: #579060;
    font-size: 1.4vw;
}

.p-8 {
    font-weight: 800;
    color: #7235c4;
    font-size: 4vw;
    position: relative;
    top: -0.5vw;
}

.p-9 {
    color: #a8aa37;
    font-size: 2vw;
    position: relative;
    top: -1vw;
    font-weight: 600;
}

.p-10 {
    color: #da8e63;
    font-size: 2vw;
    position: relative;
    top: -1vw;
    font-weight: 600;
}

.p-11 {
    color: #6dcabf;
    font-size: 2.2vw;
    position: relative;
    top: -2vw;
    font-weight: 700;
}

.p-12 {
    color: #6d31bf;
    font-size: 2.4vw;
    font-weight: 700;
}

.p-13 {
    color: #da8e63;
    font-size: 2.2vw;
    position: relative;
    top: -2vw;
    font-weight: 700;
}

.p-14 {
    color: #fff;
    font-size: 2vw;
    font-weight: 500;
    opacity: 0;
}

.p-15 {
    color: #936bc7;
    font-size: 2vw;
    font-weight: 500;
}

img.question {
    width: 30px !important;
    height: 40px;
    position: absolute;
    right: 44%;
}

img.first {
    width: auto !important;
    height: 7vw;
    position: absolute;
    left: -55px;
}

img.second {
    width: auto !important;
    height: 7vw;
    position: absolute;
    right: -55px;
    top: 10px;
}

.fadeInRight {
    animation: fadeInRight 1.5s both;
}

.fadeInLeft {
    animation: fadeInLeft 1.5s both;
}

.fadeInTop {
    animation: fadeInTop 1.5s both;
}

.scroll-container {
    position: relative;
}

.gmat-sec-4-cont-form #check-box {
    position: relative;
    width: 25px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #682cba;
    border-radius: 5px;
    outline: none;
    border: 2px solid #fff;
    cursor: pointer;
}

.input-box:checked::before {
    content: "\2713";
    position: absolute;
    background: #682cba;
    font-size: 16px;
    color: #fff;
    width: 20px;
    top: 0;
    height: 20px;
    left: 0;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(5%, 0%);
    border-radius: 5px;
}

.input-box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.gmat-carousel-first img {
    width: 12vw;
}

@media screen and (max-width: 767px) {
    .gmat-sec-1 .sec-1-cols .img-col {
        margin-bottom: 5vw;
    }

    .scroll-container img.first {
        height: 80px !important;
        left: -25px;
    }

    .scroll-container img.second {
        height: 72px !important;
        right: -19px;
    }

    .head-h1 {
        font-size: 5.3vw !important;
        text-align: center !important;
        line-height: 8vw;
    }

    .gmat-sec-2 {
        padding-bottom: 1rem;
    }

    .sec-2-col-1,
    .sec-2-col-2 {
        width: 100%;
    }

    .sec-2-split {
        flex-direction: column;
    }

    .sec-2-col-2 {
        margin-left: 0px;
    }

    .sec-2-inner {
        border-radius: 15px;
    }

    .sec-2-inner-1 h3 {
        font-size: 4vw;
    }

    .sec-2-inner-split h2 {
        font-size: 4.5vw;
    }

    .bar {
        height: 2.4vw;
        width: 100%;
    }

    .bar::-webkit-slider-thumb {
        width: 4.4vw;
        height: 4.5vw;
    }

    .sec-2-inner-flex span {
        font-size: 2.7vw;
        margin-left: 1.5vw;
    }

    /* carousel */
    .container {
        max-width: 62vw !important;
    }

    .gmat-carousel-first img {
        margin-top: 10px;
    }

    .gmat-carousel-first {
        width: 57vw;
        padding: 2vw 2vw 3vw;
        box-shadow: none;
    }

    .gmat-carousel-inner h1 {
        font-size: 5vw;
    }

    .gmat-carousel-inner p {
        font-size: 3.3vw;
        line-height: 5.5vw;
    }

    .gmat-carousel-flex h1 {
        font-size: 6vw;
    }

    .gmat-carousel-flex h4 {
        font-size: 4vw;
    }

    .carousel-arrow .slider-arrow {
        width: 10vw !important;
        height: 10vw !important;
    }

    .carousel-arrow .swiper-button-prev {
        left: 4vw !important;
    }

    .swiper-button-next {
        right: 4vw !important;
    }

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
        width: 2.5vw !important;
        height: 2.5vw !important;
    }

    /* section-6 */
    .gmat-sec-6-width {
        width: 95vw;
        padding-top: 1rem;
    }

    .gmat-sec-6 {
        padding-bottom: 2rem;
        margin-top: 2rem;
    }

    .gmat-sec-6-innner-card-split svg {
        width: 50px;
        height: 50px;
        margin: 0px !important;
    }

    .gmat-sec-6-card-1,
    .gmat-sec-6-card-2 {
        width: 95%;
        padding: 20px 0px;
    }

    .gmat-sec-6-innner-card-split {
        grid-template-columns: 45% 45%;
        width: 90%;
        margin: auto;
        gap: 7vw;
    }


    .gmat-background-color {
        background-position-y: 18vw;
        background-size: auto;
    }

    .gmat-sec-6-card-1 p,
    .gmat-sec-6-card-2 p {
        font-size: 2.5vw;
        line-height: 4.5vw;
        margin-top: 7vw;
    }

    .mobile-4-grid svg {
        top: 0px !important;
    }

    /* section-7 */
    .gmat-sec-7 {
        margin-top: 0.5rem;
        background-position-y: 18%;
    }

    /* google review */
    /* Google */
    .google {
        padding: 2em 1em;
        margin-top: 1em;
    }

    .google-split {
        flex-direction: column;
    }

    .google-col-1 h2 {
        font-size: 4vw;
    }

    .google-col-1,
    .google-col-2 {
        gap: 1em;
    }

    .google-col-1 h1 {
        font-size: 14vw;
        line-height: 30px;
    }

    .google-col-2 {
        margin-top: 1em;
    }

    .google-col-2 h1 {
        font-size: 5vw;
    }

    .google-col-2 h3 {
        font-size: 4vw;
    }

    .google-col-2 p {
        font-size: 2.8vw;
        line-height: 4.5vw;
    }

    .next,
    .prev {
        padding: 5px;
    }

    .google-col-1,
    #carousel-stop2 {
        width: 100%;
    }

    .google-col-1,
    .google-col-2 {
        gap: 4.5vw;
    }

    .mobile-block {
        display: block;
    }

    .mobile-hide {
        display: none;
    }

    /* section-7 */

    .gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols {
        grid-template-columns: 50% 50%;
        width: 95%;
        margin: auto;
        grid-row-gap: 9vw;
        grid-column-gap: 2vw;
    }

    .rotman {
        width: 40vw !important;
    }

    .london {
        width: 18vw !important;
    }

    .gmat-profile-sec-7 .gmat-sec-7-container .gmat-sec-7-cols img {
        width: 27vw;
    }

    /* section-8 */
    .section-8-gre {
        padding-top: 0px;
    }

    .p-1 {
        font-size: 3.5vw;
    }

    .p-2 {
        font-size: 2.2vw;
    }

    .p-3 {
        font-size: 2.3vw;
    }

    .p-4 {
        font-size: 4.5vw;
    }

    .p-5 {
        font-size: 3.2vw;
    }

    .p-6 {
        font-size: 2.2vw;
    }

    .p-7 {
        font-size: 2.1vw;
    }

    .p-8 {
        font-size: 4.5vw;
        top: 0px;
    }

    .p-9 {
        font-size: 2.7vw;
        top: 0px;
    }

    .p-10 {
        font-size: 2.7vw;
    }

    .p-11 {
        font-size: 3.2vw;
    }

    .p-12 {
        font-size: 3.1vw;
    }

    .p-13 {
        font-size: 2.9vw;
    }

    .p-14 {
        font-size: 2.7vw;
    }

    .p-15 {
        font-size: 2.7vw;
    }

    .first-2 {
        top: -2.5vw;
    }

    footer div {
        font-size: 3.3vw;
    }

    .section-8-width {
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        border-radius: 10px;
        margin-bottom: 2rem;
    }

    .section-8-width input {
        padding: 2vw 0px 2vw 10vw !important;
        width: 85%;
    }

    .section-8-width input::placeholder {
        font-size: 3vw;
    }

    .section-8-width p {
        font-size: 3.5vw;
        text-align: center;
    }

    .secction-8-split {
        width: 100%;
    }

    .section-8-absolute {
        gap: 2vw;
    }

    .section-8-width input {
        padding: 2vw;
    }

    .section-8-absolute button {
        padding: 1em 1.5rem;
        font-size: 11px;
    }

    .gmat-sec-7-cols {
        padding-bottom: 1rem;
    }

    /* section-4 */
    .section-4-gre {
        padding-top: 4rem;
    }

    .section-4-width .section-gre-3-part .section-3-part-1 {
        width: auto;
        padding: 8px;
    }

    .section-4-width .section-gre-3-part .section-3-part-1 p {
        font-size: 4vw;
    }

    .section-4-width .section-gre-3-part {
        width: 75%;
    }

    .section-4-width .section-3-split {
        gap: 0.5em;
    }

    .section-3-split {
        flex-direction: column;
    }

    .section-3-col-1 {
        margin-bottom: 0px;
    }

    .section-3-col-1 p {
        text-align: center;
        font-size: 3vw;
        line-height: 6vw;
    }

    .mobilepara {
        font-size: 3.5vw !important;
        line-height: 6.5vw !important;
    }

    .section-3-inner-p {
        font-size: 4vw !important;
    }

    .section-gre-3-part {
        flex-direction: column;
        width: 90%;
        margin: 1em auto 0px;
        gap: 1em;
    }

    .section-3-part-1 img {
        width: 9vw;
    }

    .section-3-part-1 {
        align-items: center;
        width: auto;
        gap: 1em;
        padding: 5px;
    }

    .section-3-col-2 img {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .gmat-carousel-first img {
        width: 100px;
    }

    .slider-arrow .md.hydrated {
        width: 15px !important;
        height: 15px !important;
    }
}

/* SWIPER SLIDER */
:root {
    --primary: #5f24af;
    --white: #ffffff;
    --bg: #f5f5f5;
}

#tranding {
    position: relative;
}

.container {
    max-width: 71.21vw;
    margin: 0 auto;
}

.swiper.tranding-slider {
    padding: 3vw;
}

.swiper-slide {
    width: max-content !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-arrow .swiper-button-next {
    right: 6vw;
}

.swiper-button-prev {
    left: 6vw !important;
}

.carousel-arrow .slider-arrow {
    background: var(--white);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    border: 1px solid;
}

.carousel-arrow .slider-arrow::after {
    content: "";
}

.slider-arrow .md.hydrated {
    width: 22px;
    height: 22px;
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    bottom: 0px !important;
    width: max-content !important;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    width: 1vw;
    height: 1vw;
    margin: 0px 7px !important;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}

/* ----------------************* Second Half *************--------------------------- */
* {
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 1024px) {
    .width-for-sec {
        width: 78vw;
        margin: auto;
    }
}

/* Desktop Hidden */
.header-cols .mobile-views {
    display: none;
}

#nav_img {
    display: none;
}

#close_img {
    display: none;
}

.mob-break {
    display: none;
}

.mobile-views {
    display: none;
}

/* Header-Section */
.gmat-header {
    background: #3c0d7d;
    position: fixed;
    width: 100%;
    z-index: 111111;
}

.gmat-header .header-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
}

.gmat-header .header-cols .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gmat-header .header-cols .nav-content a {
    font-size: 1.1vw;
    font-weight: 700;
    color: #ffffffb2;
    cursor: pointer;
    padding-right: 3.5rem;
    text-decoration: none;
    transition: 0.3s;
}

.gmat-header .header-cols .nav-content a:hover {
    color: #ffffff;
}

.gmat-header .header-cols .nav-content .btn-col .button {
    background: #15baa6;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.gmat-header .header-cols .nav-content .btn-col .button:hover,
.gmat-header .header-cols .nav-content .btn-col button:hover {
    color: #ffffff;
}

.gmat-header .header-cols .nav-content .btn-col .button i {
    font-size: 1.1rem;
    padding-right: 0.5rem;
}

.gmat-header .header-cols .nav-content .btn-col .button a {
    padding: 0;
}

.gmat-header .header-cols .nav-content .btn-col button {
    background: #15baa6;
    font-size: 1.3vw;
    font-weight: 600;
    color: var(--white, #fff);
    padding: 0rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 8vw;
}

/* Section 1 */
.gmat-sec-1 {
    padding: 3rem 2rem;
    /* background: linear-gradient(167deg, #682cba 0%, #4a1297 100%); */
    background-image: url("./Assets/sec-1-back-img.svg");
    padding-top: 5rem;
    background-size: cover;
    background-position: center;
}

.gmat-sec-1 .sec-1-cols {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gmat-sec-1 .sec-1-cols .head-cont-col .head-col h3 {
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    line-height: 4.5vw;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.gmat-sec-1 .sec-1-cols .head-cont-col .head-col h3 span {
    font-weight: 700;
    color: #15baa6;
}

.gmat-sec-1 .sec-1-cols .head-cont-col .content-col h5 {
    color: #fff;
    font-size: 1.1vw;
    font-weight: 400;
    line-height: 4vw;
    text-transform: capitalize;
}

.gmat-sec-1 .sec-1-cols .head-cont-col .btn-col {
    margin-top: 1rem;
}

.gmat-sec-1 .sec-1-cols .head-cont-col .btn-col button {
    color: var(--white, #fff);
    text-align: center;
    font-size: 1.3vw;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    padding: 1.3vw 2.3vw;
    cursor: pointer;
    background: #15baa6;
}

.gmat-sec-1 .sec-1-cols .img-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmat-sec-1 .sec-1-cols .img-col img {
    width: 40vw;
    /* height: 80vh; */
}

/* Marquee */
/* Marquee Section */
.marquee-sec {
    background: #c197fbad;
    padding: 0.5vw 0;
}

.marquee-sec .marquee-sec-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marquee-sec .marquee-sec-cols .head-col {
    width: 25%;
}

.marquee-sec .marquee-sec-cols .content-col {
    width: 79%;
}

.marquee-sec .marquee-sec-cols .content-col img {
    margin-right: 2.5rem;
}

.marquee-sec .marquee-sec-cols .head-col h5 {
    color: #561aa9;
    font-size: 1.5vw;
    text-align: right;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: capitalize;
    padding-right: 2vw;
}

.logos {
    overflow: hidden;
    padding: 0.5rem 0;
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* section - 3 */
.gmat-sec-3 {
    padding: 3rem 4rem;
}

.gmat-sec-3 .sec-3-cols {
    display: flex;
    justify-content: space-around;
    /* gap: 22vw; */
    align-items: center;
}

.gmat-sec-3 .sec-3-cols .content-col {
    width: 50%;
}

.gmat-sec-3 .sec-3-cols .content-col h3,
.gmat-sec-3 .sec-3-cols .video-col h3 {
    color: #373737;
    font-size: 2.5vw;
    font-weight: 500;
    line-height: 4.5vw;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.gmat-sec-3 .sec-3-cols .content-col p {
    color: #373737;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 3vw;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.gmat-sec-3 .sec-3-cols .content-col h3 span,
.gmat-sec-3 .sec-3-cols .video-col h3 span {
    color: #420d8c;
    font-weight: 700;
}

.gmat-sec-3 .sec-3-cols .content-col .btn-col {
    border-radius: 13px;
    background: #15baa6;
    text-align: center;
    width: 18vw;
    cursor: pointer;
    padding: 1vw 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gmat-sec-3 .sec-3-cols .content-col .btn-col button {
    color: var(--white, #fff);
    text-align: center;
    font-size: 1.4vw;
    background: #15baa6;
    font-weight: 600;
    line-height: 1vw;
    padding-right: 1rem;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

.gmat-sec-3 .sec-3-cols .content-col .btn-col i {
    color: #fff;
    font-size: 2vw;
    font-weight: 200;
}

.gmat-sec-3 .sec-3-cols .video-col {
    width: 40%;
}

.gmat-sec-3 .sec-3-cols .video-col-1 {
    position: relative;
}

.gmat-sec-3 .sec-3-cols .video-col-1 iframe {
    position: absolute;
    right: 0;
    left: 0;
    height: 84%;
    width: 93%;
    margin: auto;
    top: 4.5vw;
}

iframe {
    border-radius: 20px !important;
}

/* .gmat-sec-3 .sec-3-cols .video-col {
  background-image: url("../Assets/video-back-img.png");
  background-size: 37vw;
  background-position: top center;
  background-repeat: no-repeat;
  width: 50%;
  position: relative;
  padding: 16% 0;
  text-align: center;
} */

/* .gmat-sec-3 .sec-3-cols .video-col iframe {
  width: 35vw;
  height: 47vh;
  top: 12%;
  right: 11.5%;
  margin-top: 0;
  position: absolute;
  border-radius: 13%;
} */

.gmat-sec-3 .sec-3-cols .video-col iframe .js-player-fullscreen {
    border-radius: 4%;
}

/* Section - 4 */
.gmat-sec-4 {
    background-image: url("./Assets/form-sec.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gmat-sec-4 .head-col {
    padding: 3rem 0;
    padding-bottom: 4rem;
}

.gmat-sec-4 .head-col h3 {
    color: #3e3e4c;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    text-transform: capitalize;
}

.gmat-sec-4 .head-col h3 span {
    color: #420d8c;
    font-weight: 700;
}

.gmat-sec-4 .gmat-sec-4-cont-form {
    width: 65vw;
    margin: auto;
    padding: 0rem 0rem 2rem;
    border-radius: 50px;
    background: #682cba;
    box-shadow: 0px 8px 22px 0px rgba(0, 0, 0, 0.2);
}

.gmat-sec-4 .gmat-sec-4-cont-form .form-cols {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gmat-sec-4 .gmat-sec-4-cont-form form p {
    color: #fff;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    text-transform: capitalize;
}

.gmat-sec-4 .gmat-sec-4-cont-form form input {
    border-radius: 10px;
    border: 0.515px solid #414141;
    background: #fff5fa;
    padding: 0.4rem 0.7rem;
    width: 93%;
    height: 40px;
}

.gmat-sec-4 .gmat-sec-4-cont-form form .col {
    width: 40%;
    margin-top: 2rem;
}

.gmat-sec-4 .gmat-sec-4-cont-form form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3rem;
}

.gmat-sec-4 .gmat-sec-4-cont-form form .check-box {
    display: flex;
    width: max-content;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    align-items: center;
}

.gmat-sec-4 .gmat-sec-4-cont-form form .check-box label {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    text-transform: capitalize;
}

.gmat-sec-4 .gmat-sec-4-cont-form form .btn-col {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -4rem;
}

.gmat-sec-4 .gmat-sec-4-cont-form form .btn-col button {
    color: var(--white, #fff);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    background: var(--secondary-clr, #15baa6);
}

/* Popup Styles */
.popups {
    z-index: 99;
    position: relative;
}

.firstpopup {
    display: none;
    justify-content: center;
    position: fixed;
    text-align: center;
    bottom: 0;
    margin: auto;
    width: 100%;
    margin: auto;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(48, 48, 48, 0.68) 100%);
}

.popup-1-cols {
    margin: 2rem auto 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    border-radius: 20px;
    background: #000;
    box-shadow: 0px -8px 39px 0px rgba(0, 0, 0, 0.22);
}

.popup-1-cols .content {
    display: flex;
    align-items: center;
}

.popup-1-cols .content h5 {
    color: #fff;
    font-size: 1.4vw;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: capitalize;
    padding-right: 2rem;
}

.popup-1-cols .content img {
    padding-right: 1rem;
}

.popup-1-cols .btn-col {
    text-align: center;
}

.popup-1-cols .btn-col button {
    color: var(--white, #fff);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    background: var(--secondary-clr, #15baa6);
}

@media (min-width: 767px) {

    /* hover */
    .gmat-sec-6-card-1:hover::before {
        top: 0;
        right: 0;
        opacity: 1;
    }

    .gmat-sec-6-card-2:hover::before {
        top: 0;
        left: 0;
        opacity: 1;
    }

    .gmat-sec-6-card-1:hover p,
    .gmat-sec-6-card-2:hover p {
        color: #fff;
    }
}

/* -----------**************Tab-View***************----------------- */
@media (min-width: 768px) and (max-width: 1024px) {

    /* hover */
    .gmat-sec-6-card-1:hover::before {
        top: 0;
        right: 0;
        opacity: 1;
    }

    .gmat-sec-6-card-2:hover::before {
        top: 0;
        left: 0;
        opacity: 1;
    }

    .gmat-sec-6-card-1:hover p,
    .gmat-sec-6-card-2:hover p {
        color: #fff;
    }

    /* popup */
    .popup-1-cols {
        width: 80%;
    }

    /* Tab Hiddens */
    .mob-break {
        display: none;
    }

    /* Header-Section */
    .gmat-header .logo-col img {
        width: 80%;
    }

    .gmat-header .header-cols {
        padding: 0.5rem 2rem;
    }

    .gmat-header .header-cols .nav-content a {
        font-size: 0.7rem;
        padding-right: 1.5rem;
    }

    .gmat-header .header-cols .nav-content .btn-col button {
        font-size: 0.8rem;
        padding: 0rem;
        width: 10vw;
    }

    .gmat-header .header-cols .nav-content .btn-col button i {
        font-size: 0.3rem;
        padding-right: 0.7rem;
    }

    /* Section - 1 */
    .gmat-sec-1 .sec-1-cols .img-col img {
        width: 40vw;
        /* height: 35vh;  */
    }

    /* marquee sec */
    /* .marquee-sec .marquee-sec-cols .head-col h5 {
    font-size: 1rem;
  } */

    .marquee-sec .marquee-sec-cols .content-col img {
        /* margin-right: 0;
    width: 68%; */
    }

    /* Section -3  */
    .gmat-sec-3 {
        padding: 2rem;
    }

    /* .gmat-sec-3 .sec-3-cols .video-col {
    background-size: 45vw;
  }

  .gmat-sec-3 .sec-3-cols .video-col iframe {
    width: 42vw;
    height: 18vh;
    right: 4%;
    border-radius: 13px;
  } */

    .gmat-sec-3 .sec-3-cols .content-col .btn-col {
        border-radius: 7px;
    }

    /* Section -  4 */
    .gmat-sec-4 {
        padding: 0.5rem 2rem;
    }

    .gmat-sec-4 .head-col {
        padding: 1rem 0;
        padding-bottom: 2rem;
    }

    .gmat-sec-4 .head-col h3 {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form {
        padding: 1rem;
        border-radius: 30px;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .col {
        margin-top: 1rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form p {
        font-size: 0.8rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form input {
        border-radius: 10px;
        padding: 0.5rem 0.7rem;
        height: 20px;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form input::placeholder {
        font-size: 0.7rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .check-box input[type="checkbox"] {
        width: 15px;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .check-box label {
        font-size: 0.8rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .btn-col {
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .btn-col button {
        font-size: 1rem;
        padding: 1rem 2rem;
        border-radius: 18px;
    }
}

/* -----------**************Mobile-View***************----------------- */
.gmat-header-width {
    height: 100vh;
    background: #5652529e;
    position: fixed;
    width: 100vw;
    z-index: 9999;
}

@media (max-width: 767px) {
    .logo-col .mobile-views {
        padding-top: 0px;
    }

    .gmat-sec-6-innner-card-split {
        grid-auto-flow: dense;
    }

    .mobile-1-grid {
        grid-column: 2;
        grid-row: 2;
    }

    .mobile-2-grid {
        grid-column: 1;
        grid-row: 3;
    }

    .mobile-4-grid {
        grid-column: 1;
        grid-row: 2;
    }

    .mobile-background-color-card {
        background-color: #4c149d;
    }

    .mobile-background-color-card p {
        color: #fff;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .check-box {
        width: 100%;
        margin-top: 5vw;
    }

    /* popup */

    .popup-1-cols .content {
        width: 65%;
    }

    .popup-1-cols .btn-col {
        width: 35%;
    }

    .firstpopup .popup-1-cols {
        flex-direction: row;
        gap: 3vw;
        margin: 2rem auto 1rem;
        width: 80%;
    }

    .firstpopup .popup-1-cols h5 {
        font-size: 3vw;
        padding: 0px;
    }

    .firstpopup .popup-1-cols .btn-col button {
        font-size: 3.2vw;
        padding: 2vw 5vw;
    }

    .popup-1-cols .content {
        display: initial;
    }

    /* enable on mobile */
    .header-cols .mobile-views {
        display: block;
    }

    #nav_img {
        display: block;
    }

    #navcontent {
        display: none;
    }

    .break-hidden {
        display: none;
    }

    .mob-break {
        display: inline;
    }

    .Desktop-views {
        display: none;
    }

    .mobile-views {
        display: block;
    }

    /* Header Section */
    .gmat-header {
        border-radius: 0px 0px 15px 15px;
    }

    .gmat-header .logo-col img {
        width: 80%;
    }

    .gmat-header .header-cols {
        display: block;
        padding: 0.5rem 1rem;
    }

    .gmat-header .header-cols .logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .gmat-header .header-cols .nav-content a {
        font-size: 0.9rem;
        line-height: 3rem;
        padding-right: 0;
        display: block;
        border-bottom: 1px solid #ffffff3d;
    }

    .gmat-header .header-cols .nav-content .btn-col a {
        border: none;
    }

    .gmat-header .header-cols .nav-content .btn-col .button {
        background: none;
        border: none;
        width: 30vw;
    }

    .gmat-header .header-cols .nav-content .btn-col .button i {
        /* font-size: 1.3rem;
      padding-right: 0.7rem; */
        display: none;
    }

    .gmat-header .header-cols .nav-content .btn-col .button {
        padding: 0;
    }

    .gmat-header .header-cols .nav-content .btn-col button {
        font-size: 0.9rem;
        background: none;
        background-color: none;
        border: none;
        padding: 0.5rem 0rem;
        color: #ffffffb2;
        text-align: left;
        width: 23vw;
    }

    /* Section - 1 */
    .gmat-sec-1 {
        padding: 3rem 1rem;
        padding-top: 5rem;
    }

    .gmat-sec-1 .sec-1-cols {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .gmat-sec-1 .sec-1-cols .img-col img {
        width: 90vw;
        /* height: 50vh; */
    }

    .gmat-sec-1 .sec-1-cols .head-cont-col .head-col h3 {
        font-size: 6vw;
        text-align: center;
        line-height: 8.5vw;
    }

    .gmat-sec-1 .sec-1-cols .head-cont-col .content-col h5 {
        font-size: 2.2vw;
        text-align: center;
        line-height: 6vw;
    }

    .gmat-sec-1 .sec-1-cols .head-cont-col .btn-col {
        text-align: center;
    }

    .gmat-sec-1 .sec-1-cols .head-cont-col .btn-col button {
        text-align: center;
        font-size: 3vw;
        border-radius: 5px;
        padding: 3.5vw 5.3vw;
    }

    /* marquee section */
    .marquee-sec .marquee-sec-cols {
        display: block;
    }

    .marquee-sec .marquee-sec-cols .head-col {
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }

    .marquee-sec .marquee-sec-cols .head-col h5 {
        text-align: center;
        font-size: 5vw;
    }

    .marquee-sec .marquee-sec-cols .content-col {
        width: 100%;
    }

    /* Section - 3 */
    .gmat-sec-3 {
        padding: 1rem;
    }

    .gmat-sec-3 .sec-3-cols {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .gmat-sec-3 .sec-3-cols .content-col {
        width: 100%;
    }

    .gmat-sec-3 .sec-3-cols .content-col p {
        font-size: 3.8vw;
        text-align: center;
        line-height: 7vw;
        padding-bottom: 0rem;
        padding: 4vw 0px 7vw;
    }

    .gmat-sec-3 .sec-3-cols .content-col .btn-col {
        border-radius: 6px;
        width: 20vh;
        margin: auto;
        padding: 3vw 4vw;
    }

    .gmat-sec-3 .sec-3-cols .content-col .btn-col button {
        font-size: 3.6vw;
        line-height: 1vw;
        padding-right: 0.5rem;
        border-radius: 13px;
    }

    .gmat-sec-3 .sec-3-cols .content-col .btn-col i {
        font-size: 4vw;
    }

    .gmat-sec-3 .sec-3-cols .video-col {
        width: 100%;
    }

    .gmat-sec-3 .sec-3-cols .video-col-1 iframe {
        bottom: -7vw;
        border-radius: 15px !important;
    }

    /* .gmat-sec-3 .sec-3-cols .video-col {
    background-size: 88vw;
    padding: 0;
    background-position-y: 120px;
    width: 100%;
    text-align: center;
  } */
    .mobile-views {
        padding-top: 6vw;
    }

    .gmat-sec-3 .sec-3-cols .content-col h3,
    .gmat-sec-3 .sec-3-cols .video-col h3 {
        font-size: 5.5vw;
        text-align: center;
        line-height: 8.5vw;
    }

    /* .gmat-sec-3 .sec-3-cols .video-col iframe {
    width: 82vw;
    height: 40vh;
    top: 35%;
    right: 5%;
  } */

    .gmat-sec-3 .sec-3-cols .video-col iframe .js-player-fullscreen {
        border-radius: 4%;
    }

    /* Section - 4 */
    .gmat-sec-4 {
        padding: 0.5rem 1rem;
    }

    .gmat-sec-4 .head-col {
        padding: 2rem 0;
        padding-bottom: 2rem;
    }

    .gmat-sec-4 .head-col h3 {
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form {
        padding: 1rem 2rem;
        border-radius: 20px;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form .form-cols {
        display: block;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .col {
        width: 94%;
        margin-top: 1rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form p {
        font-size: 1rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form input {
        border-radius: 10px;
        padding: 0.5rem 0.7rem;
        width: 98%;
        height: 25px;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form input::placeholder {
        font-size: 0.8rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .check-box input[type="checkbox"] {
        width: 33px;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .check-box label {
        font-size: 0.6rem;
        line-height: 1.2rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .btn-col {
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

    .gmat-sec-4 .gmat-sec-4-cont-form form .btn-col button {
        font-size: 1rem;
        padding: 1.5rem 2rem;
        border-radius: 15px;
    }
}